main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#left, #right {
  width: 50%;
}

#hint {
  color: lightgray;
  text-align: center;
}

.hidden {
  display: none;
}

.fade {
  animation: 3.5s fadeIn;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
