main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.poem {
  width: 43vw;
  height: 200px;
  overflow: scroll;
  border: 3px solid lightgray;
  border-radius: 0.5vw;
  margin: 10px;
  padding: 10px;
}

#left {
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
}

#right {
  font-family: 'Bellefair', serif;
  font-size: 24px;
}

.active {
  border-color: lightskyblue;
}

#hint {
  color: lightgray;
  text-align: center;
}

.hidden {
  display: none;
}

.fade {
  animation: 3.5s fadeIn;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
